/*
Color Palette
	e7e8d1
	d3ceaa
	fbf7e4
	424242
	8e001c
*/

body{
	height:100%;
	background-color:  #FFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: .1em;
	color: #000000;
	margin: 0;
	padding: 0;
	position:relative;
	z-index: 1;
}

.stylebody{
	padding-left:5%;
}

.Red{
	color: #8E001C;
}

.heading1{
	color:#FFF;
	display:block;
	background-color:#8E001C;
	padding:1em;
}

.Content{
	padding-left:5%;
}

/*
	Elements on the left
*/
.lElement{
	display:block;	
}

/* 
	Elements on the right
*/
.rElement{
	display:block;
}


