/*
  Grids
*/

/* This will add some content to the grid and display it in block */
.grid:after {
	content: " ";
	display: block;
	clear: both;
}

/* Box model compatile with browsers */
*, *.after, *.before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Custom class for our columns */
[class^='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

/*
  HTML Elements
*/

body{
	height:100%;
	background-color:  #E7E8D1;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000000;
	margin: 0;
	padding: 0;
}

#NavButton1{
	background-color: #8E001C;
	padding:1%;
}

#NavButton2{
	background-color: #8E001C;
	padding:1%;
}

#NavButton3{
	background-color: #8E001C;
	padding:1%;
}

#NavButton4{
	background-color: #8E001C;
	padding:1%;
}

.Nav.Top{
	width:100%;
	display:block;
	margin-top:30%;
	text-align:center;
}

.Nav.Left{
	width:20%;
	float:left;
	display:block;
	margin-left:30%;
	text-align:center;
}

.Nav.Right{
	width:20%;
	float:left;	
	display:block;
	margin-right:30%;
	text-align:center;
}

.Nav.Bottom{
	width:100%;
	display:block;
	height:10%;
	margin-bottom:30%;
	text-align:center;
}