/*
  HTML Elements
*/

html{
	width:100%;
	height:100%;
}

body{
	width:40%;
	height:100%;
	display:block;
	background-color:  #102E37;
	font-family: 'Source Sans Pro Light', sans-serif;
	font-weight: 300;
	letter-spacing: .1em;
	color: #8E3B33;
	margin: 0 auto;
	padding: 0;
	padding-top: 2%;
}

/*
	Styling
*/

.Htitle{
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFF;
}

a{
	text-decoration: none;
	color:#FFF;
}

.icon{
	position:absolute;
	width:110px;
	height:100px;
	z-index:-1;
}

h3{
	color:#4f5047;
}

/*
	Contact page
*/

.Content-Contact{
	width:100%;
	padding-top:15%;
	margin: 0 auto;
	float:left;
	display:block;
	text-align: center;
}

.Contact-Details{
	width:100%;
	display:inline-block;
}

.Contact-Details h3{
	padding-left:80px;
}

.Contact-Tweet{
	display:inline-block;
	width:50%;
	text-align: center;
}

.Tweet-Icon{
	float:left;
	display:block;
}

.Tweet-Icon img{
	padding:5%;
	width:50px;
	height:50px;
	display: block;
	margin:0 auto;
}

.Tweet-text{
	width:50%;
	float:left;
	display:block;
	text-align: right;
}

.Contact-Email{
	display:inline-block;
	width:100%;
	margin:0 auto;
	text-align:center;
}

.Gmail-Icon{
	float:left;
	display:block;
}

.Gmail-Icon img{
	padding:5%;
	width:50px;
	height:50px;
	display: block;
	margin:0 auto;
}


.Contact-Github{
	display:inline-block;
	width:49%;
	text-align:center;
}

.Github-Icon{
	float:left;
	margin:0 auto;
	display:block;
}

.Github-Icon img{
	padding:5%;
	width:50px;
	height:50px;
}

.Github-Text{
	width:50%;
	float:left;
	display:block;
	text-align: left;
}

.Contact-Middle{
	width:100%;
	margin:0 auto;
	display:block;
}

/*
	Resume Page
*/

.Content-Resume{
	width:100%;
	margin: 0 auto;
	padding-top:15%;
	padding-bottom:15%;
	float:left;
	display:block;
	text-align: center;
}

.Resume-Details{
	width:80%;
	padding-top:15%;
	margin: 0 auto;
	text-align: left;
	padding-bottom:5%;
}

footer{
	height:5%;
}

/*
	Media Queries
*/

@media only screen and (max-width: 1920px){
	body{
		width:50%;	
	}
}

@media only screen and (max-width: 1600px){
	body{
		width:60%;	
	}
}

@media only screen and (max-width:1200px){
	body{
		width:80%;	
	}
}

@media only screen and (max-width: 920px){
	body{
		width:90%;	
	}
}

/*
	Responsiveness
*/
@media (min-width: 1024px) {
	body{
		width:75%;
	}
}


@media (min-width: 1280px) {
	body{
		width:60%;
	}
}
